
<nav class="navbar navbar-custom fixed-bottom border-top">
  <div class="nav nav-underline flex-grow-1 justify-content-around fw-semibold">
    <div class="nav-item nav-list">
      <%= link_to "ホーム", top_family_path(@family.id), class: "nav-link nav-color active" %>
    </div>
    <div class="nav-item nav-list">
      <%= link_to "分担表", family_tasks_path(@family.id), class: "nav-link nav-color" %>
    </div>
    <div class="nav-item nav-list">
      <%= link_to "マイタスク", family_day_tasks_path(@family.id), class: "nav-link nav-color" %>
    </div>
    <div class="nav-item nav-list">
      <a class="nav-link nav-color" href="#">カレンダー</a>
    </div>
    <div class="nav-item nav-list d-none d-sm-block">
      <%= link_to "プロフィール", root_path, class: "nav-link nav-color" %>
    </div>
  </div>
</nav>