/*ヘッダー*/
.header-custom {
  background-color: rgb(186, 227, 205);
}

.link-btn {
  background: rgb(175, 219, 195);
  text-decoration: none;
  color: #619a88;
  border: 1px solid rgb(202, 232, 215);
}

/*フッターナビ*/
.navbar-custom {
  background-image: url('navbar-image.png');
  background-size: auto 60%;
  background-color: rgb(186, 227, 205);
  background-repeat: repeat-x;
  background-position: bottom;
}

.nav-list {
  padding: 1px 6px;
  background-color: rgba(248, 244, 244, 0.445);
  border-radius: 12px;
  box-shadow: 0 0 5px 3px rgba(186, 227, 205, 0.765)inset;
}

.nav-color { 
  text-decoration: none;
  color: #619a88;
}

/*エラーメッセージ*/
.error-message {
  color: rgb(182, 48, 0);
}

/*ボディー*/
body {
  background: #ebe6d2;
  font-family: "M PLUS Rounded 1c", sans-serif;
}


/*ホーム*/
.main-index {
  background-color: white;
}

.current-user-name {
  color: gray;
}

.text-title {
  font-size: 3vmin;
}

.form-signin {
  max-width: 330px;
  padding: 1rem;
}

/*ファミリー新規作成画面*/
.submit-btn {
  background: rgb(175, 219, 195);
  color: #619a88;
  border: 1px solid rgb(202, 232, 215);
}